{% extends "productParser/base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg col1">
        <h1 class="brand-logo">Find your next  investment today</h1>
        <p style="margin-top: 50px; padding-bottom: 50px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices,
            nulla ut luctus viverra, urna odio fringilla nunc, vel tristique velit massa sit
            amet urna. In vulputate sollicitudin molestie. Nam bibendum dignissim neque,
            quis varius neque mattis vitae. Pellentesque pellentesque sed ante sed elementum</p>

        <a href="#" class="left-button">Find out more</a>
    </div>
    <div class="col-lg col2">
        <!-- The form -->
        <form class="ph_search" action="send">
            <input type="text" placeholder="Search.." name="search-area">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
{% endblock content %}