{% extends "productParser/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_style.css' %}" type="text/css">
{% endblock extra_css %}
{% block content %}
<div class="modal">
    <!-- modal content -->
    <div class="modal-content">
        <div class="container-fluid" id="outer">
            <div class="row no-gutters">
                <div class="order-2 col-md-3 order-md-1" id="left-col">
                    <div class="container-fluid p-0" id="left">
                        <img src="{{context.logo}}" class="logo">
                        <div id="news-collum">
                            <h5 style="font-weight: bold;text-align: center">Product News</h5>
                            <hr>
                            <ul>
                                {% for link,article in context.newsZip %}
                                <li>
                                    <a href="{{link}}">{{article}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="order-1 col-md-9 order-md-2">
                    <span onclick="window.location.href='{{request.META.HTTP_REFERER|escape}}';" class="close">&times;</span>
                    <img src="{{context.logo}}" class="logo-sm">
                    <h1 style="text-align: center; padding-top: 10px">{{context.results.name}}</h1>
                    <p style="text-align: center">{{ context.results.tagline}}</p>
                    <div class="container-fluid" id="right">
                        <div class="row no-gutters">
                            <div class="col-lg-4"><button id="b1">Product Information</button></div>
                            <div class="col-lg-4"><button id="b2">Founder Information</button></div>
                            <div class="col-lg-4"><button id="b3">Market Information</button></div>
                        </div>
                        <div class="row-lg no-gutters" style="margin: 10px">
                            <div id="1">
                                <div class="container information-found">
                                    <h3>Information Found</h3>
                                    <p>{{context.results.description}}</p>
                                    <ul>
                                        {% for i in context.topics %}
                                        <li>{{i}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div id="2" style="display:none;">
                                <div class="container information-found">
                                    <h3 class="content-header">Founders</h3>
                                    <ul class="product-items">
                                        {% for w,x,y,z in context.socialMediaZip %}
                                        <hr>
                                            {% if x == None %}
                                            <li style="list-style: none">
                                                <div class="row founder-bar">
                                                    <div class="col-md founder-item"> <a href="https://www.producthunt.com/@{{y}}"><img src="{% static 'images/ProductHunt-Logo.png' %}" class = "flogo"></a><a href="#" id="noTwit"><img src="{% static 'images/Twitter-Logo.png' %}" class = "flogo"></a></div>
                                                    <div class="col-md founder-item"> <img src="{{z}}" width="90" height="90"> </div>
                                                    <div class="col-md founder-item"> {{w}}</div>
                                                </div>
                                            </li>
                                            {% endif %}

                                            {% if x != None %}
                                            <li style="list-style: none">
                                                <div class="row founder-bar">
                                                    <div class="col-md founder-item"><a href="https://www.producthunt.com/@{{y}}"><img src="{% static 'images/ProductHunt-Logo.png' %}" class = "flogo"></a><a href="http://twitter.com/{{x}}"><img src="{% static 'images/Twitter-Logo.png' %}" class = "flogo"></a></div>
                                                    <div class="col-md founder-item"><img src="{{z}}" width="90" height="90"></div>
                                                    <div class="col-md founder-item">{{w}}</div>
                                                </div>
                                            </li>
                                            {% endif %}

                                    <a href="/analysis/{{x}}" target="_blank" class="btn btn-outline-primary btn-sm"> Get 5 factor scores</a>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div id="3" style="display:none;">
                                <div class="container information-found">
                                    <h3 class="content-header">Market</h3>
                                    <div>
                                        <canvas id="myChartBar"></canvas>
                                    </div>
                                    <div >
                                        <canvas id="myChartLine"></canvas>
                                    </div>
                                    <div>
                                        <canvas id="myChartPie"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
  /*Change tabs*/
    $('#b1').on('click',function(){
        //If 1 is showing, show 2, hide all other divs
        $('#1').show().siblings('div').hide();
        $('#b1').css("background-color", "#becce0")
        $('#b1').css("color", "black")
        $('#b2').css("background-color", "#4f3535")
        $('#b2').css("color", "white")
        $('#b3').css("background-color", "#384f35")
        $('#b3').css("color", "white")
        $('#right').css("background-color", "#becce0")

    });
    $('#b2').on('click',function()  {
        //If 1 is showing, show 2, hide all other divs
        $('#2').show().siblings('div').hide();
        $('#b1').css("background-color", "#42474e")
        $('#b1').css("color", "white")
        $('#b2').css("background-color", "#e0bebe")
        $('#b2').css("color", "black")
        $('#b3').css("background-color", "#384f35")
        $('#b3').css("color", "white")
        $('#right').css("background-color", "#e0bebe")
    });
    $('#b3').on('click',function(){
        //If 1 is showing, show 2, hide all other divs
        $('#3').show().siblings('div').hide();
        $('#b1').css("background-color", "#42474e")
        $('#b1').css("color", "white")
        $('#b2').css("background-color", "#4f3535")
        $('#b2').css("color", "white")
        $('#b3').css("background-color", "#c0dbb9")
        $('#b3').css("color", "black")
        $('#right').css("background-color", "#c0dbb9")

    });
    var data = JSON.parse("{{context.data|escapejs}}");
    drawBarGraph(data, 'myChartBar');
    drawLineGraph(data, 'myChartLine');
    drawPieGraph(data, 'myChartPie');


  function drawBarGraph(data, id) {
      var labels = data.labels;
      var chartLabel = data.chartLabel;
      var chartData = data.chartData;
      var ctx = document.getElementById(id).getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: chartLabel,
                  data: chartData,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',

                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
  }
  function drawLineGraph(data, id) {
      var labels = data.labels;
      var chartLabel = data.chartLabel;
      var chartData = data.chartData;
      var ctx = document.getElementById(id).getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
              labels: labels,
              datasets: [{
                  label: chartLabel,
                  backgroundColor: 'rgba(255, 100, 200, 0)',
                  borderColor: 'rgb(55, 99, 132)',
                  data: chartData,
              }]
          },

          // Configuration options go here
          options: {
              scales: {
                  xAxes: [{
                      display: true
                  }],
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }

      });
  }

  function drawPieGraph(data, id) {
      var labels = data.labels;
      var chartLabel = data.chartLabel;
      var chartData = data.chartData;
      var ctx = document.getElementById(id).getContext('2d');
      console.log(chartLabel)
      console.log(chartData)
      console.log(labels)
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: labels,
              datasets: [{
                  label: chartLabel,
                  data: chartData,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              responsive: true,
              plugins: {
                  legend: {
                      position: 'top',
                  },
                  title: {
                      display: true,
                      text: 'Chart.js Pie Chart'
                  }
              }
          },
      });
  }



</script>
{% endblock extra_js %}
