.col1 {
    color: #577359;
    background-color: #9bc69e;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom:10%;
}
.col2{

    /*background-image: url("/static/images/bg-1.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: linear-gradient(#9eb7e2,#ffffff);
    padding-bottom: 40%;
}
.col1 p{
    margin-left: 5%;
    margin-right: 10%;
}
.brand-logo{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 50px; font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 10%;

}
.left-button{
    color: white;
    border:2px solid #577359;
    background-color: #577359;
    padding: 10px 10px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}
.left-button:hover{
    color: white;
    text-decoration: none;
    background-color: #324332;
    border:2px solid #324332;
}
.nav-item{
    text-align: center;
}
.login-main{
    /* leave blank, but may add colour later */
    /*background-color: ;*/
    border-radius: 4px;
}
.login-inner{
    border-radius: 4px;
}
.signUp{
    background-color: #96FFC3;
    border-radius: 4px;
}


/* Navbar */

.ph_search{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Style the search field */
form.ph_search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    outline: none;
}

/* Style the submit button */
form.ph_search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    color: #386fe3;
}

form.ph_search button:hover {
    background: #386fe3;
    color: #f1f1f1;
}


/* Clear floats */
form.ph_search::after {
    content: "";
    clear: both;
    display: table;
}

/* Loading Screen */
#loader-bg{
    position: fixed;
    z-index: -1;
    background: none;
    width: 100%;
    height: 100%;
}
#loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
}
#loader:before, #loader:after{
    content:'';
    border: 1em solid #324332;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
#loader:before{
    animation-delay: .5s;
}
@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
