.col1 {
    color: #577359;
    background-color: #9bc69e;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom:10%;
}
.col2{

    /*background-image: url("/static/images/bg-1.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: linear-gradient(#9eb7e2,#ffffff);
    padding-bottom: 40%;
}
.col1 p{
    margin-left: 5%;
    margin-right: 10%;
}
.brand-logo{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 50px; font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 10%;

}

.centerObj{
    color: white;
    border:2px solid #cb5d3c;
    background-color: #cb5d3c;
    padding: 10px 10px;
    border-radius: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerObj:hover{
    color: white;
    text-decoration: none;
    background-color: #ce7570;
    border:2px solid #ce7570;
}
.left-button{
    color: white;
    border:2px solid #577359;
    background-color: #577359;
    padding: 10px 10px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}
.left-button:hover{
    color: white;
    text-decoration: none;
    background-color: #324332;
    border:2px solid #324332;
}
.nav-item{
    text-align: center;
}
.login-main{
    /* leave blank, but may add colour later */
    /*background-color: ;*/
    border-radius: 4px;
}
.login-inner{
    border-radius: 4px;
}
.signUp{
    background-color: #96FFC3;
    border-radius: 4px;
}


/* Navbar */

.example{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    outline: none;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    color: #386fe3;
}

form.example button:hover {
    background: #386fe3;
    color: #f1f1f1;
}


/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}